body {
    background-color: black;
    cursor: none;
}

.cursor{
    position: absolute;
    border: 3px solid white;
    height: 3rem;
    width: 3rem;
    padding: 0.75rem;
    border-radius: 100%;
    z-index: 1;
    box-shadow: 5px 5px 5px;
}

.matter {
    position: relative;
}

img{
    transition: all 1.25s ease-in-out;
    opacity: 15%;
}

img:hover{
    opacity: 100%;
    transition: all 0.2s ease-in-out;
}

#circle:hover {
    
    transform: scale(0.75);
    transform: rotate(45deg);
}

#smile:hover {
    transform:skew(30deg,-60deg);
}

#projects:hover {
    transition: all 0.8s ease-in-out;
    transform: scale(0.9);
}

#hand:hover{
    animation: handAnim 2s infinite;
}
@keyframes handAnim {
    0%{
        transform: rotate(0deg)
    }
    
    25%{
        transform: rotate(-45deg);
    }
    
    75%{
        transform: rotate(45deg);
    }
    
    100%{
        transform: rotate(0deg);
    }
}

#text:hover{
    animation: textAnim 2s infinite;
}

@keyframes textAnim {
    0%{
        margin: 0 0 0 2rem;
    }

    25%{
        margin: 0 2rem 0 0 ;
    }

    50%{
        margin: 0 0 0 2rem;
    }

    75%{
        margin: 0 2rem 0 0;
    }
    100%{
        margin: 0 0 0 2rem;
    }
}

#future:hover {
    animation: futureAnim 2s infinite;
}

@keyframes futureAnim {
    0%{
        filter: opacity(0);
    }

    25%{
        filter: opacity(100%);
    }

    50%{
        filter: opacity(0);
    }

    75%{
        filter: opacity(100%);
    }
    100%{
        filter: opacity(0);
    }
}


#ring:hover {
    animation: ringAnim 3s infinite;
    transform: rotate(360deg);    
}

#ticket:hover {
    animation: ticketAnim 2s linear;
}

@keyframes ticketAnim {
    0%{
        filter:sepia(100%)
    }
    25%{
        filter: grayscale(100%);
    }
    50%{
        filter:sepia(100%)
    }
    75%{
        filter: grayscale(100%);
    }
    0%{
        filter: none;
    }
}

#standard:hover {
    transform: scaleY(-1);
}

#star:hover{
    animation: starAnim 2s infinite;
}

@keyframes starAnim {
    0%{}
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(0);
    }

}